@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <h1>Charts using JSON & AJAX</h1>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    <script type="text/javascript">



        function GetInvitationList() {


            var dataPoints = [];
            debugger
            $.ajax({
                type: 'POST',
                dataType: 'json',
                cache: false,
                url: '/Home/FreeCurrency',


                success: function (data) {
                    debugger
                    var json = JSON.parse(data);                           
                    dataPoints.push({ label: json.data.CAD.code, y: parseInt(json.data.CAD.value) });
                    dataPoints.push({ label: json.data.EUR.code, y: parseInt(json.data.EUR.value) });
                    dataPoints.push({ label: json.data.USD.code, y: parseInt(json.data.USD.value) });
                   


                    {
                        debugger
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2",//light1
                    title: {
                        text: "CanvasJS Charts in ASP.Net MVC using JSON & AJAX"
                    },
                    data: [
                        {
                            // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                            type: "line",
                            dataPoints: dataPoints
                        }
                    ]
                });

                chart.render();
            }




                }
            });
        }














        $(document).ready(function () {
            GetInvitationList();
            debugger
            $.get("/home/FreeCurrency/", function (data) {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2",//light1
                    title: {
                        text: "CanvasJS Charts in ASP.Net MVC using JSON & AJAX"
                    },
                    data: [
                        {
                            // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                            type: "line",
                            dataPoints: data
                        }
                    ]
                });

                chart.render();
            });

        });
    </script>
</body>
</html>	