@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <h1>Currency Chart</h1>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    <script type="text/javascript">



        function GetInvitationList() {


            var dataPoints = [];
            debugger
            $.ajax({
                type: 'POST',
                dataType: 'json',
                cache: false,
                url: '/Home/FreeCurrency',


                success: function (data) {
                    debugger
                    var json = JSON.parse(data);


                    dataPoints.push({ label: json.data.USD.code, y: parseInt(json.data.USD.value) });

                    dataPoints.push({ label: json.data.PKR.code, y: parseInt(json.data.PKR.value) });

                    {
                        debugger
                        var chart = new CanvasJS.Chart("chartContainer", {
                            animationEnabled: true,
                            theme: "light2",//light1
                            title: {
                                text: "Chart JS"
                            },
                            data: [
                                {
                                    // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                                    type: "line",
                                    dataPoints: dataPoints
                                }
                            ]
                        });

                        chart.render();
                    }




                }
            });
        }

        $(document).ready(function () {
           
            startTimer()

        });
    </script>

    <script>
        var timer;

        function startTimer() {
            timer = setInterval(function () {
                GetInvitationList();
            }, 35000);
        }

        function stopTimer() {
            alert("Timer stopped");
            clearInterval(timer);
        }
    </script>


</body>
</html>	